In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("Auto_price.csv")

In [4]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [27]:
#projecting one column
df['fuel-system'].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [7]:
df['fuel-system'].head()

0    mpfi
1    mpfi
2    mpfi
3    mpfi
4    mpfi
Name: fuel-system, dtype: object

In [8]:
df['engine-size'].max()

326

In [9]:
df['engine-size'].mean()

126.90731707317073

In [10]:
df['engine-size'].mean()

126.90731707317073

In [11]:
df.loc[0:15,'make']

0     alfa-romero
1     alfa-romero
2     alfa-romero
3            audi
4            audi
5            audi
6            audi
7            audi
8            audi
9            audi
10            bmw
11            bmw
12            bmw
13            bmw
14            bmw
15            bmw
Name: make, dtype: object

In [13]:
df.loc[0:15,'symboling':'length']

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,192.7
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,192.7
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,192.7
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,178.2
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,176.8
11,0,192,bmw,gas,std,four,sedan,rwd,front,101.2,176.8
12,0,188,bmw,gas,std,two,sedan,rwd,front,101.2,176.8
13,0,188,bmw,gas,std,four,sedan,rwd,front,101.2,176.8
14,1,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0
15,0,?,bmw,gas,std,four,sedan,rwd,front,103.5,189.0

In [14]:
df.iloc[0:15, 0:4]

    symboling normalized-losses         make fuel-type
0           3                 ?  alfa-romero       gas
1           3                 ?  alfa-romero       gas
2           1                 ?  alfa-romero       gas
3           2               164         audi       gas
4           2               164         audi       gas
5           2                 ?         audi       gas
6           1               158         audi       gas
7           1                 ?         audi       gas
8           1               158         audi       gas
9           0                 ?         audi       gas
10          2               192          bmw       gas
11          0               192          bmw       gas
12          0               188          bmw       gas
13          0               188          bmw       gas
14          1                 ?          bmw       gas

In [15]:
df['symboling'].max()

3

In [16]:
df['symboling'] == df['symboling'].max()

0       True
1       True
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203    False
204    False
Name: symboling, Length: 205, dtype: bool

In [17]:
df[df['engine-size'] == df['engine-size'].max()]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
49,0,?,jaguar,gas,std,two,sedan,rwd,front,102.0,...,326,mpfi,3.54,2.76,11.5,262,5000,13,17,36000

In [18]:
#Indexing and row selection
df[df['engine-size'] == df['engine-size'].max()]['symboling']

49    0
Name: symboling, dtype: int64

In [19]:
df.sort_values(by='symboling', ascending=True)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.50,162,5100,17,22,18420
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,24,28,15985
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,12940
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.50,114,5400,19,25,22625
67,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,...,183,idi,3.58,3.64,21.50,123,4350,22,25,25552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.31,110,5250,21,28,11850
134,3,150,saab,gas,std,two,hatchback,fwd,front,99.1,...,121,mpfi,2.54,2.07,9.30,110,5250,21,28,15040
136,3,150,saab,gas,turbo,two,hatchback,fwd,front,99.1,...,121,mpfi,3.54,3.07,9.00,160,5500,19,26,18150
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.40,101,6000,17,23,13645
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495

In [20]:
#sorting
df.sort_values(by='engine-size', ascending=True).head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,std,two,hatchback,fwd,front,88.4,...,61,2bbl,2.91,3.03,9.5,48,5100,47,53,5151
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,13645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
32,1,101,honda,gas,std,two,hatchback,fwd,front,93.7,...,79,1bbl,2.91,3.07,10.1,60,5500,38,42,5399

In [21]:
df.sort_values(by=['symboling','engine-size'], ascending= [True, False])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
71,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
67,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,...,183,idi,3.58,3.64,21.5,123,4350,22,25,25552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,3,256,volkswagen,gas,std,two,hatchback,fwd,front,94.5,...,109,mpfi,3.19,3.40,8.5,90,5500,24,29,9980
58,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,80,mpfi,?,?,9.4,135,6000,16,23,15645
55,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,10945
56,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,11845
57,3,150,mazda,gas,std,two,hatchback,rwd,front,95.3,...,70,4bbl,?,?,9.4,101,6000,17,23,13645

In [22]:
df.sort_values(by=['symboling','engine-size'], ascending= [True, False]).head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
194,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,12940
196,-2,103,volvo,gas,std,four,sedan,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,15985
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
71,-1,?,mercedes-benz,gas,std,four,sedan,rwd,front,115.6,...,234,mpfi,3.46,3.10,8.3,155,4750,16,18,34184
67,-1,93,mercedes-benz,diesel,turbo,four,sedan,rwd,front,110.0,...,183,idi,3.58,3.64,21.5,123,4350,22,25,25552

In [28]:
#replacing values in column
new = {'std':0, 'turbo':1}
df['aspiration']= df['aspiration'].map(new)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,0,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,0,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,0,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,0,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,0,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [29]:
old = {0:'std', 1:'turbo'}
df = df.replace({'aspiration':old})
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [30]:
#groupby
df.groupby(by='symboling')['engine-size'].describe()

           count        mean        std    min    25%    50%    75%    max
symboling
-2           3.0  137.333333   6.350853  130.0  135.5  141.0  141.0  141.0
-1          22.0  146.363636  30.750216  110.0  122.0  141.0  168.5  234.0
 0          67.0  134.671642  49.493308   90.0  108.0  120.0  152.0  326.0
 1          54.0  109.444444  36.430687   79.0   91.0   97.0  110.0  304.0
 2          32.0  113.656250  21.635707   61.0   97.0  109.0  133.0  146.0
 3          27.0  141.259259  42.496690   70.0  115.5  151.0  171.0  234.0

In [31]:
#contingency table : relating two variables
pd.crosstab(df['aspiration'], df['symboling'], normalize = True)

symboling         -2        -1         0         1         2         3
aspiration
std         0.009756  0.068293  0.273171  0.229268  0.146341  0.092683
turbo       0.004878  0.039024  0.053659  0.034146  0.009756  0.039024